/* Estilos para el div que envuelve la tabla */
.table-wrapper {
    width: 100%; /* Ancho completo del contenedor */
    overflow-x: auto; /* Permitir desplazamiento horizontal si la tabla es más ancha que el contenedor */
}

/* Estilos para el contenedor de la tabla */
.table-container {
    margin: 20px; /* Margen alrededor del contenedor */
}

/* Estilos para la tabla */
.table {
    width: 100%; /* Ancho completo */
    border-collapse: collapse; /* Colapsar bordes de celda */
}

/* Estilos para las celdas de la tabla */
.table th,
.table td {
    border: 1px solid #ddd; /* Borde de 1 píxel sólido */
    padding: 8px; /* Espacio interno alrededor del contenido de la celda */
    text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilos para la fila de encabezado de la tabla */
.table th {
    background-color: #f2f2f2; /* Color de fondo gris claro */
}

/* Estilos para filas alternas de la tabla */
.table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo gris claro para filas pares */
}

/* Estilos para los enlaces de la tabla */
.table a {
    color: blue; /* Color del texto azul */
    text-decoration: none; /* Sin subrayado */
}

/* Estilos para los enlaces de la tabla al pasar el mouse */
.table a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
    color: darkblue; /* Color del texto más oscuro */
}
